{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // "no-unused-vars": "warn",
    "comma-dangle": "off",
    "space-before-function-paren": "off"
  }
}
